# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Dependencies
package-lock.json
yarn.lock

# Build outputs
dist/
build/
.cache/

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/
jest/
cypress/videos/
cypress/screenshots/

# PM2 process file
pm2.log
pm2.pid
pm2/

# Misc
*.swp
*.swo

.vercel
